.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 20px;
}